input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px map-get($material-light, 'background') inset !important;
}

.v-btn {
    @include rtl() {
        letter-spacing: normal;
    }
}
.vr-badge.badge-dot {
    @include ltr() {
        height: auto;
        padding: 0;
        justify-content: flex-start;
        span.dot {
            margin-right: 4px;
            margin-left: auto;
        }
    }
}
.dialog-wrapper .dialog-close {
    position: absolute !important;
}
